<% if resource.errors.any? %>
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <div class="list-group">
      <% resource.errors.full_messages.each do |message| %>
        <div class=''><%= message %></div>
      <% end %>
    </div>
  </div>

  <script>
    $(".alert").alert();
  </script>

  <div id="error_explanation">
  </div>
<% end %>
