<div class='row'>
  <div class='col'>
    <h1 class='main-title'>My buildings</h1>
  </div>
  <div class='col text-right'>
    <%= link_to 'Back to dashboard', root_path, class: 'btn btn-tertiary' %>
  </div>
</div>

<div class="row mx-0">
  <div class="card w-100 mt-4 p-3 pb-1 shadow border-0">
    <div class="card-body pb-1">
      <%= render partial: 'buildings', locals: { buildings: @buildings} %>
    </div>
  </div>
</div>

<div class='row mx-0'>
  <div class="col-md-6 col-sm-12 card w-100 mt-5 shadow border-0">
    <div class="card-body text-center">
      <h2 class='mb-4'>
        <% if @buildings.empty? %>
          Add your first building
        <% else %>
          Add another building
        <% end %>
      </h2>

      <div class='mb-5'>
        <%= image_tag 'building_icon.svg', class: 'large-card-icon' %>
      </div>

      <div>
        <%= link_to 'Add building', new_building_path, class: 'btn btn-primary btn-lg mb-3' %>
      </div>
    </div>
  </div>
</div>