// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

// Color system

@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import './_variables.scss';
@import '~bootstrap/scss/bootstrap';

// BASE

body {
  overflow-x: hidden;
}

.main-title {
  font-size: 24px;
  color: $black;
}

.attribute-title {
  font-size: 14px;
  line-height: 16px;
  color: $text-gray;
}

.attribute-value {
  line-height: 19px;
}

.large-card-icon {
  height: 300px
}

.energy-star-card-icon {
  height: 270px
}

.form-control {
  border: none;
  border-bottom: 1px $text-gray solid;
}

.form-label {
  color: $text-gray;
}

.form-control {
  min-width: 300px;
}

.required-asterisk {
  color: red;
}

// TABLES

.table-heading {
  font-size: 13px;
  line-height: 19px;
  letter-spacing: 0.01em;
  color: $gray-800;
}

.table-row {
  min-height: 60px;
}

.table-cell {
  font-size: 14px;
  line-height: 19px;
}

.table-heading-index {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.01em;
  color: $gray-800;
}

.table-cell-index {
  font-size: 18px;
  line-height: 36px;
}

.table-cell-pill {
  font-size: 20px;
  font-weight: lighter;
}

.pill {
  color: $white !important;
  font-weight: lightest !important;
  background-color: $green !important;
}


// SIDEBAR

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

.sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 24px;
  color: var(--primary);
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
  padding: 20px;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    padding: 40px;
    min-width: 0;
    width: 100%;
  }
}

.sidebar-top-level {
  background: $white;
  box-shadow: 6px 0px 18px rgba(0, 0, 0, 0.06);
}

.sidebar-organization-title {
  font-size: 14px;
  line-height: 21px;
  padding-top: 0.875rem;
  padding-left: 1.25rem;
}

.sidebar-user-name {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.01em;
  padding-left: 1.25rem;
}

.session-links {
  position: absolute;
  bottom: 0;
  width: 240px;
}

.sidebar-icon {
  height: 17px;
  width: 17px;
}

.toggle-sidebar-link {
  color: $icon-gray;
}

.collapsed-toggle-link {
  position: absolute;
  bottom: 0;
  width: 73px;
}

#collapsed-sidebar-wrapper {
  min-height: 100vh;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}


// AUTH / DEVISE LAYOUT

.auth-container {
  margin-top: 200px;
  height: 100%
}

.auth-card {
  margin: 0 auto;
  max-width: 400px;
}

// BUILDINGS

.building-energy-star-summary {
  line-height: 165%;
  color: $text-gray;
}

// UTILITY ACCOUNTS

.utility-api-embed {
  width: 100%;
  border: none;
  height: 700px;
}